body {
    background: rgba(0,0,0,0.9);
    margin: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.header::after {
    content: '';
    height: 65vh;
    width: 100%;
    background-image: url(../img/header_bg_wb.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}

.header:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.header:hover .header-content { /* para generar el efecto al pasar el mause */
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.header-content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 70px;
    margin-left: -145px;
    text-align: center;
    width: 300px;
    height: 200px;
    transition: all 1000ms;
}

.header-content .logo {
    height: 150px;
    width: 150px;
}  /* Para cambiar el tamaño del logo */

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
}

.title_b {
    margin-top: 10px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    color: #2f3542;
}

.subtitle {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
}

.text {
    line-height: 1.7;
    margin-top: 1rem;
}

.text_b {
    line-height: 1.7;
    margin-top: -15px;
    color: #2f3542;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3,1fr); /* Tambien se puede parametrizar asi 1fr 1fr 1fr */
    grid-gap: 40px;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2,1fr); /* Tambien se puede parametrizar asi 1fr 1fr */
    grid-gap: 20px;
}

.text-center {
    text-align: center;
    margin: auto;
}

.text-left {
    text-align: left;
    margin: auto;
}

.text-link {
    color: #85C1E9;
}

.text-tel {
    color: #A6ACAF;
}

.text-wa {
    padding: 0px 20px;
    color: white;
}

.bg-light {
    background: #fff;
    color: #333;
}

.bg-dark {
    background: black;
    color: #fff;
}

.services {
    padding: 2rem 0;
}

footer {
    padding: 2.2rem;
}

footer p {
    margin: 0;
}

@media(max-width: 560px) {
    .header::after {
        height: 52vh;
    }

    .header-content {
        top: 10%;
        margin-top: 5px;
    }
    
    .header-content .logo {
        height: 130px;
        width: 130px;
    }

    .header-content .text {
        display: none;
    }

    .grid-3 .grid-2 {
        grid-template-columns: 1fr;
    }
    .services {
        padding: 1rem 1rem;
    }
}

@media(max-height: 500px) {
    .header-content .text_b {
        display: none;
    }
    .header-content {
        top: 0;
    }
}